.ButtonBackToTop {
  background-color: rgba(255, 255, 255, 0.664);   
  opacity: 0.7;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  border: none;
  border: 2px solid #AF4F8C;
}

.ButtonBackToTop img {
  width: 90px;
  padding: 15px;
}