.carte-bijoux-top {
  font-family: 'Raleway', sans-serif;
}

.container-carte-bijoux-top {
  margin-bottom: 3%;
}

.ligne-carte-bijoux-top {
  justify-content: center;
}

.col-titre-carte-bijoux-top {
  margin-bottom: 3%;
}