.NavbarMain {  
  background-color:#D8CBCA;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  box-shadow: 3px 3px 4px rgb(194, 191, 191);
}

.image-logo-navbar {
  width: 60%;
}

.lien-navbar-bijoux {
  color: black;
  margin-right: 20px;
}

.nav-item-navbar {
  width : 60px;
}

.lien-navbar-bijoux:hover {
  color: #AF4F8C;
  text-decoration: none;
}

.nav-item {
  margin-right: 30px;
}