.TableauPanier {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5%;
  margin-top: 5%;
}

.ligne-titre-panier {
  margin-bottom: 5%;
  justify-content: center;
}

.ligne-tableau-panier {
  background-color: rgb(253, 242, 221);
  border-radius: 15px;
}

.image-panier {
  width: 50%;
}

.td-image {
  width: 40%
}

.td-panier {
  vertical-align: middle!important;
  font-size: 1.5em;
}

.ligne-bouton-valider {
  justify-content: flex-end;
  margin-top: 5%;
}

.ligne-formulaire-paiement {
  margin-bottom: 10%;
}